:root {

    /* ===== TYPOGRAPHY ===== */

    /* Font Sizes */
    --fs-xs: 12px; /* Small text / Link text */
    --fs-sm: 12px; /* Small text */
    --fs-s: 16px; /* Body / Body Medium / Button Text */
    --fs-m: 20px; /* Header 3 */
    --fs-m-l: 24px; /*Extra text size*/
    --fs-l: 36px; /* Header 2 */
    --fs-xl: 56px; /* Header 1 */

    /* Line Heights */
    --lh-xs: 14px; /* Small text */
    --lh-s: 16px; /* Link text */
    --lh-m: 24px; /* Body / Body Medium / Button Text / Header 3 */
    --lh-l: 36px; /* Header 2 (assumed 1:1, you can adjust) */
    --lh-xl: 60px; /* Header 1 */

    /*Letter spacing*/
    --ls-s: 0.02em;
    --ls-m: 0.04em;

    /* Body */
    --body-font: 400 'Roboto', 'Raleway', sans-serif;

    /* Small text */
    --small-font: 400 'Roboto', sans-serif;

    /* Body Medium */
    --body-medium-font: 500 'Roboto', sans-serif;

    /* Button Text */
    --btn-font: 500 'Roboto', sans-serif;

    /* Link Text */
    --link-font: 400 'Roboto', sans-serif;

    /* Headers */
    --h1-font: 700 'Roboto', sans-serif;
    --h2-font: 700 'Roboto', sans-serif;
    --h3-font: 500 'Roboto', sans-serif;

    /* Logo */
    --logo-font: 700 'Raleway', sans-serif;


    /* ===== COLORS ===== */

    --iris: #4D5AE5; /* Primary brand / links / active */
    --ocean: #404BBF; /* Pressed / hover */

    --navy: #2E2F42; /* Headings / dark / shadows */
    --navy-blue: #2E2F42; /* Modal overlay */

    --grey: #2E2F42; /* Hero background */

    --slate: #434455; /* Body text */
    --light-slate: #8E8F99; /* Helper text */


    --cornflower: #E7E9FC; /* Hairlines / accents */
    --cloud: #F4F4FD; /* Light backgrounds */

    --white: #FFFFFF; /* Cards / header */
    --dairy: #FCFCFC; /* Modal bg */


    /* ===== STATES ===== */

    --interactive-color: #404BBF;
    --footer-interactive-color: #31D0AA; /* Success */

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: var(--body-font);
    font-family: "Roboto", sans-serif; /*redundant*/
    font-size: var(--fs-s); /*redundant*/
    line-height: calc(var(--lh-m) / var(--fs-s));
    letter-spacing: var(--ls-s);
    color: var(--slate);
    background: var(--white);
}

ul,
ol, a, li {
    list-style: none;
    text-decoration: none;
}

.section {
    padding: 120px 0;
}

/* Headers */
h1 {
    font: var(--h1-font);
    font-size: var(--fs-xl); /*redundant*/
    line-height: 1.07;
    letter-spacing: var(--ls-s);
    color: var(--white);
    text-align: center;
}

h2 {
    font: var(--h2-font);
    font-weight: 500; /*redundant*/
    font-size: var(--fs-l); /*redundant*/
    line-height: 1.11;
    letter-spacing: var(--ls-s);
    color: var(--navy-blue);
}

h3 {
    font: var(--h3-font);
    font-size: var(--fs-m); /*redundant*/
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: var(--ls-s);
    color: var(--navy-blue);
}

.image {
    display: block;
}

.brand-logo {
    display: inline-block;
    margin-right: 76px;
}

.link {
    font: var(--link-font);
    font-weight: 500; /*redundant*/
    font-size: var(--fs-s);
    line-height: 1.5;
    letter-spacing: var(--ls-s);
    color: var(--navy);
}

.link:hover, .link:active, .link:focus {
    color: var(--interactive-color);
    transition: background-color var(--transition);
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background: var(--iris);
    color: var(--white);
    font: var(--btn-font);
    font-size: var(--fs-s);
    font-weight: 500; /*redundant*/
    line-height: 1.5;
    letter-spacing: var(--ls-m);
    cursor: pointer;
    transition: background-color var(--transition);
}

.button:hover, .button:focus {
    background-color: var(--interactive-color);
}

.section-title {
    text-align: center;
    text-transform: capitalize;
}

.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: var(--box-shadow);
}

.header .container {
    display: flex;
    gap: 24px;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    /*padding: 24px 0;*/
    color: var(--navy-blue);
}

.nav-list {
    display: flex;
    flex: 1;
    gap: 40px;
}

.nav-item {
    flex: 1;
}

.nav-link {
    display: block;
    padding: 24px 0;
    width: 100%;
    position: relative;

    &:hover, &:active {
        color: var(--interactive-color);
        transition: background-color var(--transition);
    }
}

.nav-link .current {
    color: var(--interactive-color);
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background: var(--interactive-color);
    border-radius: 2px;
    color: var(--interactive-color);
    transition: background-color var(--transition);
}

address {
    display: flex;
    align-items: center;
    font-style: normal;
}

.contact-list {
    display: flex;
    gap: 40px;
}

p {
    font: var(--small-font);
    font-size: var(--fs-s);
    line-height: 1.5;
    letter-spacing: var(--ls-s);
}

.contact-link {
    color: var(--slate);
    transition: color var(--transition);
}

.contact-link:hover, .contact-link:focus {
    color: var(--ocean);
    transition: background-color var(--transition);
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg.jpg");
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color var(--transition);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.hero-title {
    max-width: 496px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features .container {
    display: flex;
    gap: 24px;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 72px) / 4);

    .feature-svg-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--cloud);
        border: 1px solid var(--light-slate);
        border-radius: 4px;
        margin-bottom: 8px;
    }
}

.feature-title {
    margin: 8px 0;
}

.team {
    background: var(--cloud);
}

.team .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}

.team .container .section-title {
    margin-bottom: 72px;
}


.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    width: calc((100% - 72px) / 4);
    height: auto;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border-radius: 0 0 4px 4px;

}

.team-context {
    padding: 32px 0;
}

.team-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    text-align: center;
}

.team-list-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-item {
    width: 40px;
    height: 40px;
}

.team-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
}

.team-list-link:hover, .team-list-link:focus {
    background-color: var(--interactive-color);
}

.svg-fill {
    fill: var(--cloud);
}

.portfolio .section-title {
    margin-bottom: 72px;
}

.portfolio .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    height: auto;
    background: var(--white);
    overflow: hidden;

    &:hover {
        box-shadow: var(--box-shadow), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        transition: background-color var(--transition);
    }
}

.portfolio-image {
    display: block; /* removes inline white gap */
    width: 100%;
    height: auto;
}

.portfolio-context {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio-title {
    margin-bottom: 8px;
}

.footer {
    background: var(--navy-blue);
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;

    & .span-logo {
        color: var(--cloud);
    }
}

.footer-description {
    color: var(--cloud);
    line-height: 1.5;
}
